@model project_web2.Models.items


<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="name" class="control-label"></label>
        <input asp-for="name" class="form-control" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="description" class="control-label"></label>
        <input asp-for="description" class="form-control" />
        <span asp-validation-for="description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="price" class="control-label"></label>
        <input asp-for="price" class="form-control" />
        <span asp-validation-for="price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="discount" class="control-label"></label>
        <div class="checkbox">
            <label> <input type="radio" asp-for="discount" value="yes" /> Yes</label>
        </div>
        <div class="checkbox">
            <label> <input type="radio" asp-for="discount" value="no" />No</label>
        </div>
        <span asp-validation-for="discount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="makedate" class="control-label"></label>
        <input asp-for="makedate" class="form-control" asp-format="{0:dd/MM/yyyy}" />
        <span asp-validation-for="makedate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Catagory</label>
        <select class="form-control" asp-for="category">
            <option value="0">Please select</option>
            <option value="1">CPU</option>
            <option value="2">GPU</option>
            <option value="3">Motherbord</option>
            <option value="4">Case</option>
            <option value="5">Powersupply</option>



        </select>
        <span asp-validation-for="category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="quantity" class="control-label"></label>
        <input asp-for="quantity" class="form-control" />
        <span asp-validation-for="quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Pic</label>
        <input type="file" class="form-control" name="file" />
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to list</a>
</div>
